.test-container {
  background-color: #78080c;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.qus-container {
  background-color: #ffffff;
  height: 100%;
  width: 100%;
  border: 1px solid #5c5455;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-width: 0px;
}
.button-cont {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.button-sizing {
  height: 30px;
  width: 70px;
  border-radius: 5px;
  border-width: 0px;
}
.finishes-container {
  background-color: #ffffff;
  height: 50vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border: 1px solid #000000;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-width: 0px;
}
.testName-container {
  width: 80vw;
  background-color: #d6cd87;
  border-bottom: 1px solid #5c5455;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
}
