.list-of-qus {
  display: flex;
  justify-content: space-around;
}
hr {
  width: 100%;
}
.arrange-cont {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.test-name {
  font-weight: 500;
  font-size: 20px;
  color: #000000;
}
